 <!-- ======= Header ======= -->
 <header id="nav" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="index.html"><img src="assets/img/background/dynamix-logo.png" class="img-fluid" alt="logo"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#">Accueil</a></li>
          <li><a class="nav-link scrollto" href="/about">A propos de nous</a></li>
          <li><a class="nav-link scrollto" href="/reference">Références</a></li>
          <li><a class="nav-link scrollto" href="/expertise">Expertise</a></li>
          <li><a class="nav-link scrollto" href="/equipe">Equipe</a></li>
          <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->